{% load static %}
{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href={% static 'css/navbar.css' %}
    >
{% endblock %}
{% with request.resolver_match.view_name as view_name %}
    <div class="basic">
        <a
            {% if view_name == 'work_list' %}
                class="menu-item active"
            {% else %}
                class="menu-item"
            {% endif %}
            href="{% url 'work_list' %}"
        >
            Works
        </a>
        <a
            {% if view_name == 'about_us' or view_name == 'people_list' %}
                class="menu-item active"
            {% else %}
                class="menu-item"
            {% endif %}
            href="{% url 'about_us' %}"
        >
            Studio
        </a>
        <a
            {%if view_name == 'contact_list'%}
                class="menu-item active"
            {% else %}
                class="menu-item"
            {% endif %}
            href="{% url 'contact_list' %}"
        >
            Contact
        </a>
        <a class="menu-item" href="">
            Search
        </a>
    </div>
{% endwith %}
