.navbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 180px; }
  .navbar a {
    padding: 0 30px;
    color: #888;
    margin: 8px 0;
    text-decoration: none;
    transition: 0.3s fade; }
    .navbar a:hover {
      color: #fff; }
    .navbar a.active {
      color: #fff; }

.contact {
  display: flex;
  overflow: hidden;
  background: black;
  color: white;
  flex-grow: 1;
  justify-content: flex-start; }
  .contact .navbar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 180px; }
    .contact .navbar a {
      padding: 0 30px;
      color: #888;
      margin: 8px 0;
      text-decoration: none;
      transition: 0.3s fade; }
      .contact .navbar a:hover {
        color: #fff; }
      .contact .navbar a.active {
        color: #fff; }
    .contact .navbar .logo {
      justify-content: left;
      align-self: flex-start !important;
      margin-bottom: auto;
      margin-top: 20px; }
      .contact .navbar .logo img {
        height: auto;
        width: 180px; }
  .contact .content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    overflow: auto;
    padding: 15% calc(25px / 2);
    width: 90%; }
    .contact .content .map {
      display: block;
      filter: saturate(0%);
      transition: .3s filter ease-in-out; }
      .contact .content .map .mapouter {
        position: relative;
        text-align: right;
        width: 450px;
        height: 450px;
        border-radius: 50% !important;
        transition: .3s border-radius ease-in-out; }
      .contact .content .map .gmap_canvas {
        overflow: hidden;
        width: 450px !important;
        height: 450px !important;
        border-radius: 50% !important;
        transition: .3s border-radius ease-in-out; }
      .contact .content .map .gmap_iframe {
        width: 450px !important;
        height: 450px !important;
        border-radius: 50% !important;
        transition: .3s border-radius ease-in-out; }
      .contact .content .map:hover {
        filter: saturate(100%); }
        .contact .content .map:hover .mapouter {
          border-radius: 0 !important; }
        .contact .content .map:hover .gmap_canvas {
          border-radius: 0 !important; }
        .contact .content .map:hover .gmap_iframe {
          border-radius: 0 !important; }
    .contact .content .contact_list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
      font-size: 12px;
      flex-shrink: 0;
      padding-bottom: 60px;
      width: 180px;
      color: #888;
      text-decoration: none; }
