.navbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  width: 200px; }
  .navbar .logo {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    margin: 10px 0; }
    .navbar .logo a {
      padding: 0; }
    .navbar .logo img {
      width: 100px;
      height: 65px;
      object-fit: cover; }
  .navbar a {
    padding: 0 20px;
    color: #888;
    margin: 8px 0;
    text-decoration: none;
    transition: 0.3s fade; }
    .navbar a:hover {
      color: #fff; }
    .navbar a.studio-item-active {
      color: #fff; }
  .navbar .navbar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end; }
  .navbar .studio-menu {
    display: flex;
    flex-direction: column;
    margin: 30px 0; }
  .navbar .basic {
    display: flex;
    flex-direction: column;
    margin: 30px 0; }

.active {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  transform: translateY(0); }

#carouselExampleControls {
  margin-top: 70px;
  margin-bottom: auto; }

.image-wrapper {
  margin-left: 50px; }

.carousels {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content; }
  .carousels .carousel-items {
    display: none;
    width: 100%; }
    .carousels .carousel-items .card {
      width: 100%;
      padding: 0;
      margin: 0;
      height: 300px; }

.active {
  display: block; }

.studio {
  display: flex;
  overflow: hidden;
  background: black;
  color: white;
  flex-grow: 1; }
  .studio .navbar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    padding: 0 50px 30px 30px; }
    .studio .navbar .logo {
      justify-content: left;
      align-self: flex-start !important;
      margin-bottom: auto;
      margin-top: 20px; }
      .studio .navbar .logo img {
        height: auto;
        width: 180px; }
    .studio .navbar a {
      color: #888;
      margin: 8px 0;
      text-decoration: none;
      transition: 0.3s fade; }
      .studio .navbar a:hover {
        color: #fff; }
      .studio .navbar a.active {
        color: #fff; }
  .studio .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    overflow: auto;
    padding: 0 calc(25px / 2); }
    .studio .content .artwork img {
      width: auto;
      height: 35vh; }
    .studio .content .works {
      display: flex;
      align-items: flex-end;
      flex-grow: 1; }
      .studio .content .works .work-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 calc(25px / 2); }
        .studio .content .works .work-item .image-wrapper {
          display: flex; }
          .studio .content .works .work-item .image-wrapper img {
            width: auto;
            height: 500px; }

.fade-out {
  animation: fadeOut ease 8s infinite;
  -webkit-animation: fadeOut ease 8s infinite;
  -moz-animation: fadeOut ease 8s infinite;
  -o-animation: fadeOut ease 8s infinite;
  -ms-animation: fadeOut ease 8s infinite; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
