.people {
  display: flex;
  background: black;
  color: white;
  flex-grow: 1; }
  .people .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 150px; }
    .people .content .people-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 50vw;
      margin: 10px 0; }
      .people .content .people-item .left {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-basis: 230px; }
        .people .content .people-item .left .picture {
          width: 200px;
          height: 200px;
          background: gray; }
          .people .content .people-item .left .picture img {
            width: 200px;
            height: 200px;
            object-fit: cover; }
      .people .content .people-item .right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: calc(100% - 230px);
        background: white;
        color: black;
        height: 200px;
        padding: 10px;
        overflow: auto; }
      .people .content .people-item .bottom {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-top: 5px; }
