.people {
  display: flex;
  background: black;
  color: white;
  flex-grow: 1; }
  @media screen and (max-width: 780px) {
    .people {
      flex-direction: column; } }
  .people .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px 100px; }
    @media screen and (max-width: 780px) {
      .people .content {
        align-items: center;
        padding: 0; } }
    .people .content .top {
      display: flex;
      flex-grow: 1;
      padding-top: 100px;
      justify-content: space-between; }
      .people .content .top .people-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        z-index: 1; }
        .people .content .top .people-list .people-item {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 500px;
          max-width: 80vw;
          margin: 10px 0; }
          .people .content .top .people-list .people-item .left {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            flex-basis: calc(100px + 10px); }
            .people .content .top .people-list .people-item .left .picture {
              width: 100px;
              height: 100px;
              background: gray; }
              .people .content .top .people-list .people-item .left .picture img {
                width: 100px;
                height: 100px;
                filter: grayscale(100%);
                object-fit: cover; }
          .people .content .top .people-list .people-item .right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-end;
            flex-basis: calc(100% - 160px);
            background: white;
            color: black;
            height: 100px;
            padding: 10px;
            overflow: auto; }
            .people .content .top .people-list .people-item .right .name {
              opacity: 0;
              transition: all 0.3s ease-in-out; }
            .people .content .top .people-list .people-item .right:hover .name {
              opacity: 1; }
          .people .content .top .people-list .people-item .bottom {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding-top: 5px; }
            .people .content .top .people-list .people-item .bottom p {
              margin: 0; }
      .people .content .top .artwork {
        position: absolute;
        right: 20px; }
    .people .content .group-picture {
      display: flex;
      height: 200px;
      margin-top: 10px;
      flex-shrink: 0; }
    .people .content .group-picture {
      display: flex;
      height: 200px;
      background: gray;
      margin-top: 10px;
      flex-shrink: 0; }
