.navbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 180px; }
  .navbar a {
    padding: 0 30px;
    color: #888;
    margin: 8px 0;
    text-decoration: none;
    transition: 0.3s fade; }
    .navbar a:hover {
      color: #fff; }
    .navbar a.active {
      color: #fff; }

.people {
  display: flex;
  background: black;
  color: white;
  flex-grow: 1; }
  .people .navbar .logo {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 65px;
    justify-content: flex-start;
    margin: 10px 20px; }
  .people .content {
    display: flex;
    flex-direction: column; }
    .people .content .people-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      .people .content .people-item .left {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-basis: 200px; }
        .people .content .people-item .left .picture {
          width: 200px;
          height: 200px;
          background: gray; }
      .people .content .people-item .right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: calc(100% - 200px);
        background: white;
        color: black;
        height: 200px;
        overflow: auto; }
      .people .content .people-item .bottom {
        display: flex;
        flex-direction: column;
        align-self: flex-start; }
