.studio {
  position: relative;
  display: flex;
  background: black;
  color: white;
  flex-grow: 1; }
  .studio .navbar {
    justify-content: flex-end; }
    @media screen and (max-width: 780px) {
      .studio .navbar {
        display: none; } }
    .studio .navbar.responsive {
      position: absolute;
      display: initial;
      background: black;
      width: 100%; }
      .studio .navbar.responsive a:hover {
        background: white;
        color: black; }
  .studio .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 15px;
    padding-top: 150px;
    overflow: auto; }
    .studio .content .logo {
      flex-shrink: 0;
      display: flex;
      justify-content: center; }
      .studio .content .logo img {
        height: 100px;
        width: 250px;
        object-fit: cover; }
    .studio .content .page-description {
      text-align: center;
      margin: 50px 0; }
    .studio .content .works {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      width: 100%;
      overflow: auto;
      justify-content: space-evenly; }
      @media screen and (max-width: 780px) {
        .studio .content .works {
          flex-direction: column;
          align-items: center; } }
      .studio .content .works .work-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px; }
        .studio .content .works .work-item:hover a {
          color: #fff; }
        .studio .content .works .work-item a {
          text-decoration: none;
          color: #888; }
        .studio .content .works .work-item .image-wrapper {
          display: flex;
          width: 250px;
          height: 200px; }
          .studio .content .works .work-item .image-wrapper img {
            width: 100%;
            object-fit: cover; }
        .studio .content .works .work-item p {
          width: 250px;
          height: 20px;
          text-align: center;
          text-decoration: none; }
        .studio .content .works .work-item .work-description {
          margin: 0;
          padding: 0; }
