.work-list {
  display: flex;
  background: black;
  color: white;
  flex-grow: 1;
  overflow: hidden; }
  .work-list .navbar .filter {
    display: flex;
    flex-direction: column;
    margin: 20px 0; }
  .work-list .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto; }
    .work-list .content .page-content {
      display: flex;
      flex-shrink: 0; }
    .work-list .content .worklist {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      overflow: auto;
      padding: 0 45px;
      padding-top: 20vh; }
      .work-list .content .worklist .work-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 45px 30px; }
        .work-list .content .worklist .work-item.no-desc {
          flex-basis: 25%; }
        .work-list .content .worklist .work-item:nth-child(odd) .image-with-description {
          flex-direction: row-reverse; }
          .work-list .content .worklist .work-item:nth-child(odd) .image-with-description .description {
            justify-content: flex-end; }
        .work-list .content .worklist .work-item .image-with-description {
          display: flex; }
          .work-list .content .worklist .work-item .image-with-description .image {
            display: flex;
            justify-content: space-between;
            flex-basis: calc(50% - 30px); }
            .work-list .content .worklist .work-item .image-with-description .image img {
              height: 200px;
              width: 100%;
              object-fit: cover;
              filter: grayscale(100%);
              transition: all 0.5s ease-in-out; }
            .work-list .content .worklist .work-item .image-with-description .image:hover img {
              filter: grayscale(0%); }
          .work-list .content .worklist .work-item .image-with-description .description {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-basis: 50%;
            padding: 10px 45px; }
        .work-list .content .worklist .work-item .image-only {
          display: flex;
          flex-basis: 25%; }
          .work-list .content .worklist .work-item .image-only:hover img {
            filter: grayscale(0); }
          .work-list .content .worklist .work-item .image-only img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            filter: grayscale(100%);
            transition: all 0.5s ease-in-out; }
        .work-list .content .worklist .work-item a {
          color: #888;
          text-decoration: none;
          transition: 0.3s fade; }
        .work-list .content .worklist .work-item:hover a {
          color: #fff; }
