.navbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  width: 200px; }
  .navbar .logo {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    margin: 10px 0; }
    .navbar .logo a {
      padding: 0; }
    .navbar .logo img {
      width: 100px;
      height: 65px;
      object-fit: cover; }
  .navbar a {
    padding: 0 20px;
    color: #888;
    margin: 8px 0;
    text-decoration: none;
    transition: 0.3s fade; }
    .navbar a:hover {
      color: #fff; }
    .navbar a.studio-item-active {
      color: #fff; }
  .navbar .navbar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end; }
  .navbar .studio-menu {
    display: flex;
    flex-direction: column;
    margin: 30px 0; }
  .navbar .basic {
    display: flex;
    flex-direction: column;
    margin: 30px 0; }

.hamburger {
  display: none;
  align-items: center;
  position: absolute;
  right: 25px;
  top: calc(100px / 2 - 12px);
  background: black;
  color: white;
  border: none;
  font-size: 24px;
  z-index: 3; }
  .hamburger:hover {
    background: white;
    color: black; }
  @media screen and (max-width: 780px) {
    .hamburger {
      display: flex; } }

@media screen and (max-width: 780px) {
  .navbar {
    width: 100%;
    height: 100px; }
    .navbar .logo {
      position: absolute;
      left: 25px; }
    .navbar .navbar-content {
      display: none;
      width: 100%;
      z-index: 2; } }

.navbar.responsive .navbar-content {
  background: black;
  display: flex; }

.work-detail {
  display: flex;
  background: black;
  color: white;
  flex-grow: 1;
  overflow: hidden; }
  @media screen and (max-width: 780px) {
    .work-detail {
      flex-direction: column; } }
  .work-detail .navbar .filter {
    display: flex;
    flex-direction: column;
    margin: 20px 0; }
  .work-detail .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    overflow: auto; }
    .work-detail .content .cover-image {
      display: flex;
      margin: 25px 0;
      width: 70vw;
      height: 50vh; }
      .work-detail .content .cover-image img {
        object-fit: cover;
        width: 100%; }
    .work-detail .content .cover-description {
      display: flex;
      margin: 15px 0;
      text-align: center;
      width: 70vw; }
