$spacing-small: 5px;
$spacing-small-alt: 8px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-extra-large: 20px;

$width-separator: 2px;
$width-display-picture: 200px;

$height-display-picture: 200px;
$height-logo: 65px;
