@import 'base';

$font-size-normal: 12px;
$font-size-title: 14px;

.contact {
    display: flex;
    overflow: hidden;
    background: $color-background;
    color: $color-text;
    flex-grow: 1;
    justify-content: flex-start;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
        overflow: auto;
        padding: 0 calc(25px / 2);

        @media screen and (max-width: 780px) {
            flex-direction: column;
        }

        .map {
            display: block;
            filter: saturate(0%);
            transition: .3s filter ease-in-out;

            .mapouter {
                position: relative;
                text-align: right;
                width: 450px;
                height: 450px;
                border-radius: 50% !important;
                transition: .3s border-radius ease-in-out;

            }
            .gmap_canvas {
                overflow: hidden;
                width: 450px !important;
                height: 450px !important;
                border-radius: 50% !important;
                transition: .3s border-radius ease-in-out;

            }
            .gmap_iframe {
                width: 450px !important;
                height: 450px !important;
                border-radius: 50% !important;
                transition: .3s border-radius ease-in-out;
            }

            &:hover {
                filter: saturate(100%);

                .mapouter {
                    border-radius: 0 !important;

                }
                .gmap_canvas {
                    border-radius: 0 !important;
                }
                .gmap_iframe {
                    border-radius: 0 !important;
                }
            }
        }

        .contact_list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
            font-size: 12px;
            flex-shrink: 0;
            color: $color-text;
            text-decoration: none;

            .contact-item {
                font-size: $font-size-normal;
                margin: $spacing-extra-large 0;

                .title {
                    font-size: $font-size-title;
                    color: $color-text-active;
                    margin-bottom: $spacing-small-alt;
                }

                .contact-details {
                    margin-bottom: $spacing-small;

                    &.contact-link {
                        display: block;
                        text-decoration: none;
                        color: $color-text;

                        &:hover {
                            color: $color-text-active;
                        }
                    }
                }
            }
        }
    }
}


