@import 'base';
@import 'navbar';
.active {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    transform: translateY(0);
}

#carouselExampleControls{
    margin-top: 70px;
    margin-bottom: auto;}

.carousel-indicators button {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  margin: 5px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.image-wrapper{
    margin-left: 50px;
}
.carousels{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;

    .carousel-items{
        display: none;
        width: 100%;
        opacity: 0;
        transition: none;
        transform: translate3d(0,0,0) !important;
    }
}
.active{
    display: block;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}


.studio {
    display: flex;
    overflow: hidden;
    background: black;
    color: white;
    flex-grow: 1;

    .navbar {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding: 0 50px 30px 30px;
        .logo {
            justify-content: left;
            align-self: flex-start !important;
            margin-bottom: auto;
            margin-top: 20px;
            img{
                height: auto;
                width:100px;
            }
        }

        a {
            color: #888;
            margin: 8px 0;
            text-decoration: none;
            transition: 0.3s fade;

            &:hover {
                color: #fff;
            }
            &.active {
                color: #fff;
            }
        }

    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        overflow: auto;
        padding: 0 calc(25px / 2);
        .artwork {
            img {
                width:auto;
                height: 45vh !important;
                max-height: 45vh;
            }
        }
        .works {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;

            .work-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 calc(25px / 2);

                .image-wrapper {
                    display: flex;
                    height: 45vh !important;
                    max-height: 45vh;

                    img {
                        max-width: 65vw;
                    }
                }
            }
        }
    }
}
.fade-in {
    animation: fadeIn ease-in-out 5s infinite;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
