@import 'base';

.people {
    display: flex;
    background: black;
    color: white;
    flex-grow: 1;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 25px 100px;

        @media screen and (max-width: 780px) {
            align-items: center;
            padding: 0;
        }

        .top {
            display: flex;
            flex-grow: 1;
            padding-top: 100px;
            justify-content: space-between;

            .people-list {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                z-index: 1;

                .people-item {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 500px;
                    max-width: 80vw;
                    margin: $spacing-medium 0;

                    .left {
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                        flex-basis: calc(#{$width-display-picture} + #{$spacing-medium});

                        .picture {
                            width: $width-display-picture;
                            height: $height-display-picture;
                            background: gray;

                            img {
                                width: $width-display-picture;
                                height: $height-display-picture;
                                filter: grayscale(100%);
                                object-fit: cover;
                            }
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        justify-content: flex-end;
                        flex-basis: calc(100% - 160px);
                        background: white;
                        color: black;
                        height: $height-display-picture;
                        padding: $spacing-medium;
                        overflow: auto;

                        .name {
                            opacity: 0;
                            transition: all 0.3s ease-in-out;
                        }

                        &:hover {
                            .name {
                                opacity: 1;
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        align-self: flex-start;
                        padding-top: $spacing-small;

                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .artwork {
                position: absolute;
                right: $spacing-extra-large;
            }
        }

        .group-picture {
            display: flex;
            height: 200px;
            margin-top: $spacing-medium;
            flex-shrink: 0;
        }

        .group-picture {
            display: flex;
            height: 200px;
            background: gray;
            margin-top: $spacing-medium;
            flex-shrink: 0;
        }

    }
}
