@import 'base';

.studio {
    position: relative;
    display: flex;
    background: $color-background;
    color: white;
    flex-grow: 1;

    .navbar{
        justify-content: flex-end;

        @media screen and (max-width: 780px) {
            display: none;
        }

        &.responsive {
            position: absolute;
            display: flex;
            background: $color-background;
            width: 100%;

            a {
                &:hover {
                    background: $color-accent;
                    color: $color-background;
                }
            }
        }
    }


    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        padding: $spacing-large;
        padding-top: 150px;
        overflow: auto;

        .logo {
            flex-shrink: 0;
            display: flex;
            justify-content: center;

            img {
                height: 100px;
                width: 250px;
                object-fit: cover;
            }
        }

        .page-description {
            text-align: center;
            margin: 50px 0;
        }

        .works-wrapper {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            width: 100%;
            overflow: auto;
            justify-content: space-evenly;

            .works {
                display: flex;
                align-items: flex-start;

                @media screen and (max-width: 780px) {
                    flex-direction: column;
                    align-items: center;
                }

                .work-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 $spacing-extra-large;

                    &:hover {
                        .link {
                            color: $color-text-active;
                        }
                    }

                    .link {
                        text-decoration: none;
                        color: $color-text;
                    }

                    .image-wrapper {
                        display: flex;
                        width: 250px;
                        height: 200px;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    p {
                        width: 250px;
                        height: 20px;
                        text-align: center;
                        text-decoration: none;
                    }
                    .work-description {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

