@import "base";
@import "navbar";

.work-detail {
    display: flex;
    background: $color-background;
    color: $color-text;
    overflow: hidden;
    height: 100vh;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .navbar-content{
        .filter {
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            .menu-item {
                transition: opacity 0.2s ease-in-out;
                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }
        }

        .filter:active {
            color: $color-text-active;
        }

        .filter:hover{
            color: $color-text-active;
        }

        &:hover {
            .menu-item {
                opacity: 1;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;

        .content-first {
            display: block;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;

            .cover-image {
                display: flex;
                width: 70vw;
                height: auto;
                margin-left: auto;
                margin-right: auto;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .content-sec {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: $width-content;
            margin-left: auto;
            margin-right: auto;

            .cover-description {
                overflow-y: scroll;
                overflow-x: auto;
                max-height: 50vh;
                margin: 15px 0;
                text-align: left;
                width: 49%;
                padding-right:5px;
            }

            .cover-image {
                width:49%;

            }
        }
    }
}
img {
    object-fit: cover;
    width: 100%;
}
