@import "base";
@import "navbar";

.work-detail {
    display: flex;
    background: $color-background;
    color: $color-text;
    overflow: hidden;
    height: 100vh;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .navbar-content {
        .filter {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            opacity: 0;
        }
        .filter:active {
            color: $color-text-active;
            opacity: 1;
        }
        .filter:hover {
            color: $color-text-active;
            opacity: 1;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;

        @media screen and (max-width: 780px) {
            width: 100%;
        }

        .content-first {
            display: block;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;

            @media screen and (max-width: 780px) {
                object-fit: cover;
                width: 100%;
                height: 50vh;
            }

            .cover-image {
                display: flex;
                width: 70vw;
                height: auto;
                margin-left: auto;
                margin-right: auto;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .content-sec {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: $width-content;
            height: 95vh;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: 780px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 55vh;
            }

            .cover-artwork {
                margin: 15px 0;
                text-align: left;
                width: 49%;
                padding-right: 5px;

                img {
                    object-fit: cover;
                    width: auto;
                    height: 30vh;

                    @media screen and (max-width: 780px) {
                        object-fit: cover;
                    }
                }
                @media screen and (max-width: 780px) {
                    margin: 15px;
                    text-align: left;
                    width: 98%;
                    padding-left: 15px;
                }
            }

            .cover-description {
                overflow-y: auto;
                margin: 15px 0;
                text-align: left;
                width: 100%;
                padding-right: 5px;
                height: 60vh;

                @media screen and (max-width: 780px) {
                    height: 25vh;
                }
            }

            .cover-image {
                width: 49%;
                @media screen and (max-width: 780px) {
                    width: auto;
                }

                img {
                    object-fit: contain;
                    height: 90vh;

                    @media screen and (max-width: 780px) {
                        object-fit: contain;
                        width: 100%;
                        height: 32vh;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

#carouselExampleControls {
    margin-top: 70px;
    margin-bottom: auto;
}
.carousel{
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    .carousel-inner{

        .carousel-item{
            transition: 0.6s ease-in-out top;

            .active {
                display: block;
                transition: 0.6s ease-in-out top;
                opacity: 1;
            }
        }
    }

    .carousel-indicators{
        flex-direction: column;
        position: unset;
        margin-right: 0;
        margin-left: 4%;

        button {
            display: inline-block;
            width: 10px !important;
            height: 10px !important;
            margin: 5px;
            text-indent: 0;
            cursor: pointer;
            border: none;
            border-radius: 50%;
            box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
        }
    }
}

.studio {
    display: flex;
    overflow: hidden;
    background: $color-background;
    color: $color-text;
    flex-grow: 1;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        overflow: auto;
        padding: 0 calc(25px / 2);

        .artwork {
            img {
                width: 100%;
                height: 45vh !important;
                max-height: 45vh;
            }
        }

        .works {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;

            .work-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 calc(25px / 2);

                .image-wrapper {
                    display: flex;
                    height: 45vh !important;
                    max-height: 45vh;

                    img {
                        width: 100%;
                        max-width: 65vw;
                    }
                }
            }
        }
    }
}

.fade-in {
    animation: fadeIn ease-in-out 5s infinite;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
}
img {
    object-fit: cover;
    width: 100%;
}