@import 'base';

.work-list{
    display: flex;
    background: black;
    color: white;
    flex-grow: 1;
    overflow: hidden;

    @media screen and (max-width: 780px) {
        flex-direction: column;
        flex-shrink: 0;
    }

    .navbar {
        .filter {
            display: flex;
            flex-direction: column;
            margin: $spacing-extra-large 0;

            .active {
                color: white;
            }
        }
        @media screen and (max-width: 780px) {
            align-items: flex-start;
        }
    }

    .content {
        display: inline-flex;
        overflow: hidden;
        height: 100vh;
        width: 100vw;

        @media screen and (max-width: 780px) {
            flex-grow: 1;
        }

        .block{
            margin-top: auto;
            margin-bottom: auto;
            min-height: 100vh;
            width: 100vw;

            .worklist {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                padding: 0 45px;
                height: 100%;

                @media screen and (max-width: 780px) {
                    flex-direction: column;
                    flex-wrap: unset;
                    padding: 0;
                }

                .work-item {
                    display: inline-flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex-grow: 1;

                    &.no-description {
                        flex-basis: 25%;
                        padding: $spacing-super-large;
                    }

                    &:nth-child(odd) {
                        &.with-description {
                            flex-direction: row-reverse;
                        }
                    }

                    .image-container {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        flex-basis: calc(50% - 60px);

                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            filter: grayscale(100%);
                            transition: all 0.5s ease-in-out;
                        }

                        .title {
                            position:absolute;
                            opacity: 0;
                            bottom: -24px;
                            left: 0;
                        }
                    }

                    &.with-description {
                        display: flex;
                        flex-direction: row;

                        .image-container {
                            margin: 15px $spacing-super-large;
                        }

                        .description {
                            margin: 15px $spacing-super-large;
                        }
                    }

                    &:hover {
                        .image-container {
                            img {
                                filter: grayscale(0%);
                            }
                        }

                        .title {
                            opacity: 1;
                        }
                    }

                    @media screen and (max-width: 780px) {
                        flex-direction: column;
                        flex-wrap: unset;

                        &.no-desc {
                            flex-basis: unset;
                        }

                        .with-description {
                            flex-direction: column;

                            &:nth-child(odd) {
                                flex-direction: column;

                                .description {
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
