@import 'base';
@import 'navbar';

.work-detail{
    display: flex;
    background: $color-background;
    color: $color-text;
    flex-grow: 1;
    overflow: hidden;
    height: 100vh;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .navbar {
        .filter{
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            .active {
                color: $color-text-active;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        overflow: auto;

        .cover-image{
            margin: 25px 0;
            width: 70vw;
            height: 50vh;

            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .cover-description {
            display: flex;
            margin: 15px 0;
            text-align: center;
            width: 70vw;
        }
    }

    @media screen and (max-width: 780px) {
        align-items: flex-start;
        flex-direction: row;
    }

    .work-feature{
        display: flex;
        align-items: flex-end;
        margin-bottom: 0 35px 85px 0;
    }
}
