@import 'base';
@import 'navbar';

.work-detail{
    display: flex;
    background: black;
    color: white;
    flex-grow: 1;
    overflow: hidden;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .navbar {
        .filter{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        overflow: auto;

        .cover-image{
            display: flex;
            margin: 25px 0;
            width: 70vw;
            height: 50vh;

            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .cover-description {
            display: flex;
            margin: 15px 0;
            text-align: center;
            width: 70vw;
        }
    }
}
