@import 'base';
@import 'navbar';

.work-list{
    display: flex;
    background: black;
    color: white;
    flex-grow: 1;
    overflow: hidden;

    .navbar {
        flex-shrink: 0;
        .logo {
            display: flex;
            flex-shrink: 0;
            width: 100%;
            height: 65px;
            justify-content: flex-start;
            margin: 10px 20px;
        }

        .filter {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
        }
    }
}
