{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href={% static 'css/studio.css' %}
    >
{% endblock %}

{% block content %}
<main class="studio">
    <button
        href="javascript:void(0);"
        class="hamburger"
        onclick="clickFunction()"
    >
        <ion-icon name="menu"></ion-icon>
    </button>
    <div id="myNavbar" class="navbar">
        <div class="navbar-content">
            {% include "partials/studio_nav.html"%}
            {% include "partials/nav.html" %}
        </div>
    </div>
    <div class="content">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src={% static 'logo.png' %}>
            </a>
        </div>
        <!-- Remove Static Page Description and fix page.content -->
        <p class="page-description">|| lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet ||</p>
        {% if page %}
            <p> {{ page.content}} </p>
        {% endif %}

        <div class="works-wrapper">
            <div class="works">
                {% for work in works %}
                <div class="work-item">
                    <a
                        class="link"
                        href="{% url 'work_detail' work.id %}"
                    >
                        <div class="image-wrapper">
                            <img src={{work.cover_image.url}}>
                        </div>
                        <div class="work-description-wrapper">
                            <p class="work-description">
                                {{work.cover_description|safe}}
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
