{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href={% static 'css/studio.css' %}
{% endblock %}

{% block content %}
<main class="studio">
    <div class="navbar">
        {% include "partials/studio_nav.html"%}
        {% include "partials/nav.html" %}
    </div>
    <div class="content">
        <div class="logo">
            <img src={% static 'logo.png' %}>
        </div>
        <!-- Remove Static Page Description and fix page.content -->
        <p class="page-description">|| lorem ipsum dolor sit amet ||</p>
        {% if page %}
            <p> {{ page.content}} </p>
        {% endif %}

        <div class="works">
            {% for work in works %}
                <div class="work-item">
                    <div class="image-wrapper">
                        <img src={{work.cover_image.url}}>
                    </div>
                    <p class="work-description"> {{work.cover_description|safe}} </p>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
