{% extends 'base.html' %}
{% load static %}

{% block meta %}
  {% if page %}
    <meta property="og:title" content="{{page.content|striptags}}">
    <meta name="description" content="{{page.content|striptags}}">
  {% endif %}
{% endblock %}


{% block content %}
<main>
    {% include "partials/nav.html" %}

    {% for people in object_list %}
      <p>Name: {{people.name}}</p>
      <p>Job title: {{people.job_title}}</p>
      <p>Description: {{people.description}}</p>
      <h2>Social medias</h2>
      {% for social_media in people.social_medias.all %}
        <p>{{social_media}}</p>
      {% endfor %}
    {% endfor %}

</main>
{% endblock %}
