{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href={% static 'css/people.css' %}
    >
{% endblock %}
{% block content %}
<main class="people">
    <div class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src={% static 'logo.png' %}>
            </a>
        </div>
        <div class="navbar-content">
            {% include "partials/studio_nav.html"%}
            {% include "partials/nav.html" %}
        </div>
    </div>
    <div class="content">
        {% for people in object_list %}
        <div class="people-item">
            <div class="left">
                <div class="picture">
                    {% if people.profile_image %}
                        <img src="{{people.profile_image.url}}" alt="Profile Image">
                    {% endif %}
                </div>
            </div>
            <div class="right">
                {{people.description|safe}}
                <h4>Social medias</h4>
                {% for social_media in people.social_medias.all %}
                    {{social_media}}
                {% endfor %}
            </div>
            <div class="bottom">
                <span>{{people.name}}</span>
                <span>{{people.job_title}}</span>
            </div>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}
