{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href={% static 'css/contact.css' %}>
{% endblock %}

{% block content %}

<div class="contact">
    <button
        href="javascript:void(0);"
        class="hamburger"
        onclick="clickFunction()"
    >
        <ion-icon name="menu"></ion-icon>
    </button>
    <div id="myNavbar" class="navbar">
        <a
           class="logo"
           href={% url 'home' %}
        >
            <img src={% static 'logo.png' %}>
        </a>
        <div class="navbar-content">
            {% include "partials/nav.html" %}
        </div>
    </div>

    <div class="content">
        <div class="map">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe
                        class="gmap_iframe"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14132.120795554256!2d85.3181653!3d27.6854615!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecaf2661bf809d2d!2sGaatha!5e0!3m2!1sen!2snp!4v1622763813121!5m2!1sen!2snp"
                    >
                    </iframe>
                    <a href="https://www.gaatha.com/"></a>
                </div>
            </div>
        </div>
        <div class="contact_list">
            {% for contact in object_list %}
            <div class="address contact-item">
                <h6 class="title">
                    Address
                </h6>
                <p class="contact-details">
                    {{ contact.address }}
                </p>
            </div>
            <div class="contact-number contact-item">
                <h6 class="title">
                    Telephone
                </h6>
                {% for num in contact.contact_number.all %}
                <p class="contact-details">
                    {{ num.number }}
                </p>
                <p class="contact-details">
                    {{ num.contactnumber_type }}
                </p>
                {% endfor %}
            </div>
            <div class="enquires contact-item">
                <h6 class="title">
                    Enquires
                </h6>
                {% for query in contact.query_type.all %}
                {% if query.email_type == query.email_type.ENQUIRIES %}
                <p class="contact-details">
                    {{ query.email }}
                </p>
                <p class="contact-details">
                    {{ query.text }}
                </p>
                {% endif %}
                {% endfor %}
            </div>

            <div class="jobs contact-item">
                <h6 class="title">
                    Jobs
                </h6>
                {% for query in contact.query_type.all %}
                {% if query.email_type == query.email_type.JOBS %}
                <p class="contact-details">
                    {{ query.email }}
                </p>
                <p class="contact-details">
                    {{ query.text }}
                </p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="social-media contact-item">
                <h6 class="title">
                    Social Media
                </h6>
                {% for media in contact.social_media.all %}
                {% if media.related_type == media.related_type.CONTACT %}
                <a
                    href={{ media.url }}
                    class="contact-link contact-details"
                >
                    {{ media.social_media_type }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
