{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Gaatha
    </title>
    {% block meta %}
      <meta name="author" content="Gaatha">
      <meta name="description" content="Gaatha">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    <script type="application/javascript">
    </script>
</head>

<body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    <script type="application/javascript">
    </script>
</body>

</html>
