{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href={% static 'css/home.css' %}
    >
{% endblock %}

{% block content %}
<main class="studio">
    <button
        href="javascript:void(0);"
        class="hamburger"
        onclick="clickFunction()"
    >
        <ion-icon name="menu"></ion-icon>
    </button>
    <div id="myNavbar" class="navbar">
        <a
            class="logo"
            href={% url 'home' %}
        >
            <img src={% static 'logo.png' %}>
        </a>
        <div class="navbar-content">
            {% include "partials/nav.html" %}
        </div>
    </div>
    <div class="content">
        <div id="artwork" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for work in works %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    <div class="works">
                        <div class="work-item">
                            <div class="image-wrapper">
                                <img class="fade-in" src={{work.artwork.url}} />
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item">
                    <div class="works">
                        <div class="work-item">
                            <div class="image-wrapper">
                                <img class="fade-in" src={{work.artwork.url}} />
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- <div class="fade-out artwork">
            {% for work in works %}
                <img src={{work.artwork.url}}>
            {% endfor %}
        </div> -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                {% for work in works %}
                {% if forloop.first %}
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% else %}
                <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide 2"></button>
                {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for work in works %}
                {% if forloop.first %}
                <div class="carousel-item active">
                    <div class="works">
                        <div class="work-item">
                            <div class="image-wrapper">
                                <img src={{work.cover_image.url}} />
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item">
                    <div class="works">
                        <div class="work-item">
                            <div class="image-wrapper">
                                <img src={{work.cover_image.url}} />
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        window.initializeCarousel = () => {
            $("#carouselExampleControls").carousel({ interval: 400, pause:false })
            $("#artwork").carousel({ interval: 400, pause: false })
        }
    });
</script>
{% endblock %}
