{% extends 'base.html' %}
{% load static %}

{% block meta %}
  {% if page %}
    <meta property="og:title" content="{{page.content|striptags}}">
    <meta name="description" content="{{page.content|striptags}}">
  {% endif %}
{% endblock %}

{% block content %}
<main>
    {% include "partials/nav.html" %}
    {% if page %}
      <p> {{ page.content }} </p>
    {% endif %}

    {% for work in works %}
      <a href="{% url 'work_detail' work.id%}">
        {% if work.cover_image %}
          <img src="{{work.cover_image.url}}" alt="Cover picture" height="200" width="200">
        {% endif%}

        <p>{{ work.cover_description}}</p>
      </a>
    {% endfor %}
</main>
{% endblock %}
