{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    {% include "partials/nav.html" %}
    {% if page %}
      <p> {{ page.content }} </p>
    {% endif %}

    {% for work in object_list %}
      {% if work.cover_image %}
        <img src="{{work.cover_image.url}}" alt="Cover picture" height="200" width="200">
      {% endif%}

      <p>{{ work.cover_description}}</p>
    {% endfor %}

    <div class="filter">
      <h1>Tags</h1>
      {% for tag in tags%}
        <a href="{% url 'work_list' %}?tags={{tag.id}}"> {{tag.name}} </a> <br>
      {% endfor %}

      <h1>Types</h1>
      {% for work_type in work_types%}
        <a href="{% url 'work_list' %}?work_types={{work_type.id}}"> {{work_type.name}} </a> <br>
      {% endfor %}

    </div>
</main>
{% endblock %}
