{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href={% static 'css/workdetail.css' %}
    >
{% endblock %}

{% block content %}
<main class="work-detail">
    <button href="javascript:void(0);" class="hamburger" onclick="clickFunction()">
        <ion-icon name="menu"></ion-icon>
    </button>
    <div id="myNavbar" class="navbar">
        <div class="title">
            {{work.title}}
        </div>
        <div class="navbar-content">
            <div class="filter tags">
                {% for tag in tags%}
                {% if object in tag.work_set.all %}
                <a class="menu-item active" href="{% url 'work_list' %}?tags={{tag.id}}">
                    {{tag.name}}
                </a>
                {% else %}
                <a class="menu-item" href="{% url 'work_list' %}?tags={{tag.id}}">
                    {{tag.name}}
                </a>
                {% endif %}
                {% endfor %}
            </div>

            <div class="filter types">
                {% for work_type in work_types%}
                {% if object in work_type.work_set.all %}
                <a class="menu-item active" href="{% url 'work_list' %}?work_types={{work_type.id}}">
                    {{work_type.name}}
                </a>
                {% else %}
                <a class="menu-item" href="{% url 'work_list' %}?work_types={{work_type.id}}">
                    {{work_type.name}}
                </a>
                {% endif %}
                {% endfor %}
            </div>

            {% include "partials/nav.html" %}
        </div>
    </div>
    <div class="content">
        <div class="content-first">
            <!-- Include artwork concept -->
            {% if object %}
            {% if object.cover_image %}
            <div id="cover-image" class="cover-image">
                <img src="{{work.cover_image.url}}" alt="Cover picture">
            </div>
            {% endif%}
            {% endif %}
        </div>
        <div class="content-sec">
            <div class="cover-artwork">
                <img src={{work.artwork.url}} />
                <div class="cover-description">
                    {% if object.picture %}
                    {% for picture in object.picture.all %}
                    <p>{{ picture.description }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="cover-image">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <ol class="carousel-indicators">
                        {% if object %}
                        {% if object.picture %}
                        {% for picture in object.picture.all %}
                        <button type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true"
                            aria-label="Slide 1"></button>
                        {% endfor %}
                        <button type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide 2"></button>
                        {% endif %}
                        {% endif %}
                    </ol>
                    <div class="carousel-inner">
                        {% for picture in object.picture.all %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                            <div class="works">
                                <div class="work-item">
                                    <div class="image-wrapper">
                                        <img src={{ picture.image.url }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <div class="works">
                                <div class="work-item">
                                    <div class="image-wrapper">
                                        <img src={{ picture.image.url }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div id="myNavbar" class="side-logo">
            <a class="logo" href="{% url 'home' %}">
                <img src={% static 'logo.png' %} alt="Gaatha logo">
            </a>
            </div>
    </div>
</main>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $("#carouselExampleControls").carousel();
        $(".content-sec").hide();
        setTimeout(function () {
            $('.content-first').hide();
            $(".content-sec").show();
        }, 5000);
        $('.carousel').carousel('pause');
    });
</script>
{% endblock %}