{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href={% static 'css/worklist.css' %}
    >
{% endblock %}

{% block content %}
<main class="work-list">
    <div class="navbar">
        <a href="{% url 'home' %}">
            <div class="logo">
                <img src={% static 'logo.png' %}>
            </div>
        </a>
        <div class="navbar-content">
            <div class="filter tags">
                {% for tag in tags%}
                <a href="{% url 'work_list' %}?tags={{tag.id}}"> {{tag.name}} </a>
                {% endfor %}
            </div>

            <div class="filter types">
                {% for work_type in work_types%}
                <a href="{% url 'work_list' %}?work_types={{work_type.id}}"> {{work_type.name}} </a>
                {% endfor %}
            </div>
            {% include "partials/nav.html" %}
        </div>
    </div>
    <div class="content">
        <div class="page-content">
            {% if page %}
              <p> {{ page.content }} </p>
            {% endif %}
        </div>

        <div class="worklist">
            {% for work in object_list %}
            {% if work.cover_description %}
                <div class="work-item">
                    <div class="image-with-description">
                        {% if work.cover_image %}
                            <a class="image" href="{% url 'work_detail' work.id%}">
                                <img
                                    src="{{work.cover_image.url}}"
                                    alt="Cover picture"
                                >
                            </a>
                        {% endif%}
                        <div class="description">
                            <a href="{% url 'work_detail' work.id%}">
                                <p>{{ work.cover_description|safe}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="work-item no-desc">
                    <div class="image-only"/>
                        <a href="{% url 'work_detail' work.id%}">
                            <img src="{{work.cover_image.url}}">
                        </a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
