{% extends 'base.html' %}
{% load static %}
{% load tag_library %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href={% static 'css/worklist.css' %}>
{% endblock %}

{% block content %}
<main class="work-list">
    <button href="javascript:void(0);" class="hamburger" onclick="clickFunction()">
        <ion-icon name="menu"></ion-icon>
    </button>
    <div id="myNavbar" class="navbar">
        <a class="logo" href="{% url 'home' %}">
            <img src={% static 'logo.png' %}>
        </a>
        <div class="navbar-content">
            <div class="filter tags">
                {% for tag in tags%}
                {% if request.GET.tags|to_int == tag.id %}
                <a class="menu-item active" href="{% url 'work_list' %}?tags={{tag.id}}">
                    {{tag.name}}
                </a>
                {% else %}
                <a class="menu-item" href="{% url 'work_list' %}?tags={{tag.id}}">
                    {{tag.name}}
                </a>
                {% endif %}
                {% endfor %}
            </div>

            <div class="filter types">
                {% for work_type in work_types%}
                {% if request.GET.work_types|to_int == work_type.id %}
                <a class="menu-item active" href="{% url 'work_list' %}?work_types={{work_type.id}}">
                    {{work_type.name}}
                </a>
                {% else %}
                <a class="menu-item" href="{% url 'work_list' %}?work_types={{work_type.id}}">
                    {{work_type.name}}
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% include "partials/nav.html" %}
        </div>
    </div>
    <div class="content">
        {% for works in grouped_object %}
        <div class="block">
            <div class="worklist">
                {% for work in works %}
                    {% if work.cover_description %}
                        <div class="work-item with-description">
                            {% if work.cover_image %}
                                <a class="image-container" href="{% url 'work_detail' work.id%}">
                                    <img
                                        class="image"
                                        src="{{work.cover_image.url}}"
                                        alt="Cover picture"
                                    >
                                    <div class="title">
                                        {{work.title}}
                                    </div>
                                </a>
                            {% endif%}
                            <a
                                class="description"
                                href="{% url 'work_detail' work.id%}"
                            >
                                {{ work.cover_description|safe|truncatechars:50 }}
                            </a>
                        </div>
                    {% else %}
                        <div class="work-item no-description">
                            <a class="image-container" href="{% url 'work_detail' work.id%}">
                                <img
                                    class="image"
                                    src="{{work.cover_image.url}}"
                                >
                                <div class="title">
                                    {{work.title}}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var n = 1;
        var children =  $('.content').children();
        $('.content').children().hide();
        $('.content').children().first().show();
        $('.content').bind('mousewheel', function(event) {
            $('.content').children().hide();
            if (event.originalEvent.wheelDelta < 0) {
                n=n+1;
            }
            else if (event.originalEvent.wheelDelta == 0) {
                n=n;
            }
            else{
                n=n-1;
            }
            n=(n>children.length)?children.length:n;
            n=(n<1)?1:n;
            $('.content div:nth-child('+n+')').show();
        });
    });
</script>
{% endblock %}
